<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Editar Producto</h1>
    <form method="POST">
        <label for="nombre">Nombre del Producto:</label>
        <input type="text" id="nombre" name="nombre" value="{{ producto.nombre_del_producto }}" required><br>

        <label for="descripcion">Descripción del Producto:</label>
        <textarea id="descripcion" name="descripcion" required>{{ producto.descripcion_del_producto }}</textarea><br>

        <input type="submit" value="Actualizar Producto">
    </form>
    <a href="{{ url_for('ver_productos') }}">Volver a la lista de productos</a>
</body>
</html>
